agm-map {
    height: 70%;
    width: 70%;
}

#map_wrapper {
    height: 90%; 
    width: 80%; 
    margin-left: 23%; // I know this is horrendous, but I couldnt center the map any other way
}

#info_box {
    padding: 1em;
}

.center{
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50%;
}

.center {
    margin-right: auto;
    margin-left: auto;
    display: block;
}